.maintaence{
    p{
        font-size: 32px;
        padding-right: 3%;
        font-weight: 500;
    }
z-index: 70;
max-width: 100%;
width: max-content;
justify-content: center;

width: 100%;
gap: 16px;
justify-items: center;
display: grid;
position: absolute;
grid-template-rows: 1fr 1fr;
margin: 0 auto;
background-color: rgb(255, 255, 255);
min-height: 800px;


}

.maintaence-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    
   .maintaence--img{
        max-width: 100%;
        width: 600px;
        height: auto;
     }
     
}
.maintaence-container1{
    display: grid;
    width: 100%;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    
    
   .maintaence--img{
        max-width: 100%;
        width: 600px;
        height: auto;
     }
     
     
}
.maintaence--text1{
    width: 50%;
   
    padding-top: 8%;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    margin-bottom: 8%;
    
 }
.maintaence--text{
    width: 50%;
    margin-right: 15%;
        margin-top: 8%;
    display: grid;
    grid-template-rows: 1fr 4fr;
    
 }
 